<div class="mgrid-content wow animate__animated animate__fadeInRight">
    <div style="background-image: url(assets/static/6.jpg);">
        <span> ELECTRICAL SYSTEM </span>
        <ul>
            <li>All Lighting</li>
            <li>Batteries</li>
            <li>Alternators</li>
            <li>Air bag system</li>
            <li>Windshield Wipers</li>
        </ul>
    </div>
    <div style="background-image: url(assets/static/5.jpg);">
        <span> ENGINE PERFORMANCE SERVICES </span>
        <ul>
            <li>Drivability Diagnosis</li>
            <li>Fuel Injection Service</li>
            <li>Computer System Diagnosis</li>
            <li>Maintenance Tune-up</li>
            <li>Emission Diagnosis / Repair</li>
        </ul>
    </div>
    <div style="background-image: url(assets/static/4.jpg);">
        <span> BRAKE REPAIR SERVICES </span>
        <ul>
            <li>Disc brake Service</li>
            <li>Drum brake Service</li>
            <li>Inspection &amp; Diagnosis</li>
            <li>ABS Diagnosis</li>
            <li>Brake Fluid Flush</li>
        </ul>
    </div>
    <div style="background-image: url(assets/static/1.jpg);">
        <span> Brake Repair Services </span>
        <ul>
            <li>Disc brake Service</li>
            <li>Drum brake Service</li>
            <li>Inspection &amp; Diagnosis</li>
            <li>ABS Diagnosis</li>
            <li>Brake Fluid Flush</li>
        </ul>
    </div>
    <div style="background-image: url(assets/static/2.jpg);">
        <span> OIL & FILTER CHANGE </span>
        <ul>
            <li>Oil Change Service</li>
            <li>Classis Lubrication</li>
            <li>Transmission Service</li>
            <li>Cooling System Flush</li>
            <li>Tire Rotation &amp; balance</li>
        </ul>
    </div>
    <div style="background-image: url(assets/static/3.jpg);">
        <span> MAINTENANCE SERVICES </span>
        <ul>
            <li>All Lighting</li>
            <li>Batteries</li>
            <li>Alternators</li>
            <li>Air bag System</li>
            <li>Accessories</li>
        </ul>
    </div>

</div>